html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: inline-block;
}
body{
	font-family: "微软雅黑";
}

.box{
	width: 100%;
	height: auto;
	/*background: pink;*/
}
.y_conner{
	width: 80%;
	height: auto;
	margin: 50px auto;
}
.y_conner_cen{
	padding: 0 26px;
	height: auto;
}
.y_conner_cen_top{
	height: auto;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #b8bcbb;
}
.y_conner_top{
	padding-left: 8px;
	height: 27px;
	background: url(../image/img_bg.jpg);
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #b8bcbb;
}
.y_conner_top>span{
	color: #000;
	font-size: 14px;
	padding: 0 8px;
	line-height: 27px;
}
.y_conner_bottom{
	padding: 22px 20px 22px 26px;
	overflow: hidden;
}
.y_bottom_left{
	width: 100px;
	height: 125px;
	border: 1px solid #b8bcbb;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
.y_bottom_right{
	float: left;
	margin-left: 34px;
	height: 125px;
}
/*.y_bottom_detail_top{
	
}*/
.y_bottom_right>span>ul{
	color: #000;
	float: left;
	font-size: 14px;
	line-height: 26px;
}
.y_bottom_ulleft{
	margin-left: 110px;
}
.y_conner_toh{
	margin-top: 20px;
	padding: 0 26px;
  height: auto;
}
/*.y_conner_navtop{
	 border: 1px solid #b8bcbb;
	 border-radius: 5px;
}*/
.y_conner_nav{
	height: 26px;
	line-height: 26px;
}
.y_conner_nav>p{
	font-size: 14px;
	width: 80px;
	background: url(../image/img_bg.jpg);
	display: block;
	padding: 0 8px;
	border: 1px solid #92a0a1;
	border-bottom: none;
	border-radius: 8px 0 0 0;
	text-align: center;
}
.y_conner_navbo{
	display: block;
	height: 27px;
	line-height: 27px;
	background: url(../image/img_bg.jpg);
	border: 1px solid #92a0a1;
}























